---
import Contact from '../../components/resume/contact.astro';
import Experiences from '../../components/resume/experiences.astro';
import Interests from '../../components/resume/interests.astro';
import Languages from '../../components/resume/languages.astro';
import Projects from '../../components/resume/projects.astro';
import Skills from '../../components/resume/skills.astro';
import Technologies from '../../components/resume/technologies.astro';
import Values from '../../components/resume/values.astro';
import Layout from '../../layouts/default.astro';
import { useMessages } from '../../utilities/localization';

const locale = Astro.currentLocale;
const m = useMessages(locale);

const {
	contact,
	languages,
	interests,
	experiences,
	projects,
	technologies,
	skills,
	values,
	profiles,
} = await fetch(`https://api.thasmo.com/${locale}/`).then(response => response.json());

export async function getStaticPaths() {
	return [
		{ params: { locale: 'en' } },
		{ params: { locale: 'de' } },
	];
}
---
<Layout title={m('resume')}>
	<div class="flex flex-col gap-5rem print:(gap-2.5rem)">
		<Experiences experiences={experiences} />
		<Projects projects={projects} />

		<div class="flex flex-col gap-5rem print:(gap-2.5rem grid grid-cols-2)">
			<Technologies technologies={technologies} />
			<Skills skills={skills} />
			<Values values={values} />
			<Interests interests={interests} />
		</div>

		<Languages languages={languages} />
	</div>

	<Fragment slot="aside">
		<Contact contact={contact} profiles={profiles} />
	</Fragment>
</Layout>
