---
import { useMessages } from '../../utilities/localization';

import Layout from '../../layouts/default.astro';
import Experience from '../../components/resume/experience.astro';
import Projects from '../../components/resume/projects.astro';
import Technologies from '../../components/resume/technologies.astro';
import Languages from '../../components/resume/languages.astro';
import Interests from '../../components/resume/interests.astro';
import Values from '../../components/resume/values.astro';
import Contact from '../../components/resume/contact.astro';
import Skills from '../../components/resume/skills.astro';

const locale = Astro.currentLocale;
const m = useMessages(locale);

const {
	contact,
	languages,
	interests,
	experiences,
	projects,
	technologies,
	skills,
	values,
	profiles,
} = await fetch(`https://api.thasmo.com/${locale}/`).then((response) => response.json());

export const getStaticPaths = async () => {
	return [
		{ params: { locale: 'en' } },
		{ params: { locale: 'de' } },
	];
}
---
<Layout title={m('resume')}>
	<div class="flex flex-col gap-5rem">
		<Experience experiences={experiences} />
		<Projects projects={projects} />
		<Technologies technologies={technologies} />
		<Languages languages={languages} />
		<Skills skills={skills} />
		<Values values={values} />
		<Interests interests={interests} />
	</div>

	<Fragment slot="aside">
		<div class="flex flex-col gap-1.5rem">
			<Contact contact={contact} profiles={profiles} />
		</div>
	</Fragment>
</Layout>
