---
import { type Contact, type Profile } from '../../types';
import Button from '../common/button.astro';
import Squircle from '../common/squircle.astro';
import Profiles from './profiles.astro';

interface Props {
	contact: Contact;
	profiles: Profile[];
}

const { contact, profiles } = Astro.props as Props;

const name = [contact.name.first, contact.name.last].join(' ');
---
<div class="flex flex-col gap-4rem sm:(flex-row items-end) md:(flex-col items-center)">
	<div class="flex flex-col gap-2rem items-start max-w-15rem dark:(text-gray-100)">
		<a href="/" class="group">
			<Squircle class="w-10rem aspect-square bg-white transition duration-250 ease-in-out group-hover:(scale-95 contrast-125)">
				<img
					class="w-full h-full object-cover"
					src={contact.photo}
					width="256"
					height="256"
					alt={`${name}'s portrait photo`}
					fetchpriority="high"
					decoding="async"
				/>
			</Squircle>
		</a>

		<div class="flex flex-col gap-1rem">
			<p class="font-serif font-500 text-2.25rem leading-tight">
				{name}
			</p>

			<div class="flex flex-col gap-0rem text-gray-600 dark:(text-gray-300)">
				<p class="text-1.25rem ">
					{contact.role}
				</p>

				<p class="flex flex-row gap-0.25rem items-center text-1rem">
					<span class="i-ri-global-line"></span>

					<span>
						{contact.location.city},
						{contact.location.country}
					</span>
				</p>
			</div>

			<Profiles profiles={profiles} />
		</div>
	</div>

	<div class="flex flex-col gap-2.5rem items-start">
		<div class="flex flex-col gap-1rem text-1.25rem leading-snug">
			<p class="flex flex-row items-center gap-0.5rem">
				<b class="font-serif font-500 text-1.5rem">Hello!</b>
				<span class="i-noto-waving-hand inline-block"></span>
			</p>

			<p>
				I'm {contact.name.first} from {contact.location.city}
				and I love building <a href="#projects" class="underline">things</a>.
			</p>

			<p>
				Currently I'm looking for new opportunities and I'm open to new challenges.
			</p>
		</div>

		<Button href={contact.website} target="_blank" rel="noopener noreferrer">
			Get in touch.
		</Button>
	</div>
</div>
