---
import { Button, Heading, Icon, Label, Mask, Text } from '@thasmo/ui';
import type { Contact, Profile } from '../../types';
import { useMessages } from '../../utilities/localization';
import Profiles from './profiles.astro';

interface Properties {
	contact: Contact;
	profiles: Profile[];
}

const { contact, profiles } = Astro.props as Properties;
const locale = Astro.currentLocale;

const m = useMessages(locale);

const name = [contact.name.first, contact.name.last].join(' ');
---
<div class="flex flex-col gap-3rem sm:(flex-row items-end) md:(flex-col items-center)">
	<div class="flex flex-col gap-2rem max-w-17.5rem items-start dark:(text-gray-100)">
		<a href={`/${locale}`} class="group">
			<Mask shape="squircle" class="w-10rem transition duration-250 ease-in-out group-hover:(scale-95)">
				<img
					class="h-full w-full scale-105 transition duration-250 ease-in-out object-cover group-hover:(scale-100 contrast-125)"
					src="https://gravatar.com/avatar/66cf7a45695ac4314ff45b4ec65ed765?s=512"
					width="256"
					height="256"
					alt={m('portrait')}
					fetchpriority="high"
					decoding="async"
				/>
			</Mask>
		</a>

		<div class="flex flex-col gap-1rem">
			<Heading size={3} tag="p">
				{name}
			</Heading>

			<div>
				<Text tag="p">
					{contact.role}
				</Text>

				<Label icon="i-ri-global-line">
					{contact.location.city},
					{contact.location.country}
				</Label>
			</div>

			<Profiles profiles={profiles} class="print:(hidden)" />
		</div>
	</div>

	<Text class="print:(hidden)">
		<Heading size={5} tag="p">
			<span>{m('hello')}</span>
			<Icon name="i-noto-waving-hand" class="top-0.125em relative" />
		</Heading>

		<p>
			{m('who')}
		</p>

		<p>
			{m('status')}
		</p>

		<Button href={`mailto:${contact.email}`} target="_blank" rel="noopener noreferrer" icon="i-ri-mail-fill">
			{m('touch')}
		</Button>
	</Text>
</div>
