---
import type { Experience } from '../../types';
import { useDate, useMessages } from '../../utilities/localization';
import Icon from '../common/icon.astro';
import Section from '../common/section.astro';

interface Properties {
	experiences: Experience[];
	class?: string;
}

const { experiences, class: classes } = Astro.props as Properties;
const locale = Astro.currentLocale;

const m = useMessages(locale);
const d = useDate(locale);
---
<Section id="experiences" title={m('section_experiences')} class={[classes, 'print:(mr-17.5rem)']} details>
	<div class="flex flex-col gap-2.5rem print:(gap-1rem)">
		{experiences.map(experience => (
			<div class="flex flex-col gap-0.5rem items-start print:(gap-0.25rem break-inside-avoid)">
				<h3 class="group text-1.5rem font-500 flex flex-row gap-0.5rem items-center">
					<a href={experience.url} target="_blank" rel="noopener noreferrer">
						<span class="decoration-2px underline-offset-0.25em group-hover:(underline)">{experience.company}</span>
						<Icon name="i-ri-arrow-right-up-long-line" class="align-middle opacity-25 inline-block bottom-0.05em pos-relative group-hover:(opacity-100) print:(hidden)" />
					</a>
				</h3>

				<div class="flex flex-col gap-1rem items-start print:(gap-0.5rem)">
					{ experience.positions.map(position => (
						<div>
							<p class="text-1.25rem dark:(text-gray-300)">
								{position.name}
							</p>

							<p class="text-gray-600 flex flex-row gap-0.75rem items-center dark:(text-gray-300)">
								<Icon name="i-ri-calendar-schedule-line" />
								<span>{d(position.start)}{position.end ? ` — ${d(position.end)}` : ` — ${m('present')}`}</span>
							</p>
						</div>
					))}

					{ experience.testimonial && (
						<div class="text-gray-600 flex flex-row gap-0.5rem items-center dark:(text-gray-300)">
							<Icon name="i-ri-lock-fill" />

							<p class="text-gray-600 px-0.5em py-0.125em border-1px rounded-0.25em flex flex-row gap-0.35rem items-center dark:(text-gray-300)">
								<span>{m('testimonial')}</span>
							</p>
						</div>
					)}

					<div class="text-gray-600 flex flex-row gap-0.5rem items-start dark:(text-gray-300)">
						<Icon class="my-0.375em" name="i-ri-tools-line" />

						<ul class="flex flex-row flex-wrap gap-0.5rem">
							{experience.technologies && experience.technologies.map(technology => (
								<li class="px-0.5em py-0.125em rounded-0.25em bg-gray-200 dark:(text-gray-300 bg-gray-800)">
									{technology}
								</li>
							))}
						</ul>
					</div>
				</div>

				{ experience.tasks && (
					<div class="mt-0.5rem p-1.25rem rounded-0.25rem bg-white flex flex-col gap-1rem hidden print:(p-0) dark:(bg-gray-950) group-data-[open]/section:flex">
						{ experience.tasks && (
							<ul class="text-1.1rem text-gray-600 flex flex-col gap-0.5rem dark:(text-gray-300)">
								{ experience.tasks.map(task => (
									<li class="flex flex-row gap-0.75rem items-start">
										<Icon name="i-ri-checkbox-circle-line" class="mt-0.25em" />
										{task}
									</li>
								))}
							</ul>
						)}
					</div>
				)}
			</div>
		))}
	</div>
</Section>
