---
import { Pill } from '@thasmo/ui';
import type { Profile } from '../../types';
import { getCurrentLocale, useMessages } from '../../utilities/localization';

interface Properties {
	profiles: Profile[];
	class?: string;
}

const { profiles, class: classes } = Astro.props as Properties;

const locale = getCurrentLocale(Astro.currentLocale);
const m = useMessages(locale);

const icons = {
	github: 'i-ri-github-fill',
	xing: 'i-ri-xing-fill',
	linkedin: 'i-ri-linkedin-fill',
	bluesky: 'i-ri-bluesky-fill',
	stackoverflow: 'i-ri-stack-overflow-fill',
	website: 'i-ri-home-fill',
};

const colors = {
	github: '#181717',
	xing: '#0698a0',
	linkedin: '#0a66c2',
	bluesky: '#0085ff',
	stackoverflow: '#f48024',
	website: '#ff8da1',
};

function getIcon(handle: string) {
	const key = handle.toLowerCase() as keyof typeof icons;
	return icons[key];
}

function getColor(handle: string) {
	const key = handle.toLowerCase() as keyof typeof colors;
	return colors[key];
}

function getMessageKey(handle: string): keyof typeof m {
	const key = handle.toLowerCase();
	return `link_${key}` as keyof typeof m;
}
---
<section class:list={['flex flex-row gap-2', classes]}>
	{profiles.map(profile => (
		<a
			href={profile.url}
			target="_blank"
			rel="noopener noreferrer"
			title={m(getMessageKey(profile.handle))}
			aria-label={m(getMessageKey(profile.handle))}
			style={{ '--color': getColor(profile.handle) }}
		>
			<Pill icon={getIcon(profile.handle)} label={profile.handle} style={{ '--color': getColor(profile.handle) }} class="hover:(text-[--color] bg-white)" />
		</a>
	))}
</section>
