---
import { type Profile } from '../../types';
import Icon from '../common/icon.astro';
import { useMessages } from '../../utilities/localization';

interface Properties {
	profiles: Profile[];
	class?: string;
}

const { profiles, class: classes } = Astro.props as Properties;

const locale = Astro.currentLocale;
const m = useMessages(locale);

const icons = {
	'github': 'i-ri-github-fill',
	'xing': 'i-ri-xing-fill',
	'linkedin': 'i-ri-linkedin-fill',
	'bluesky': 'i-ri-bluesky-fill',
	'stack overflow': 'i-ri-stack-overflow-fill',
}

const colors = {
	'github': '#181717',
	'xing': '#0698a0',
	'linkedin': '#0a66c2',
	'bluesky': '#0085ff',
	'stack overflow': '#f48024',
}

const getIcon = (name: string) => {
	const key = name.toLowerCase() as keyof typeof icons;
	return icons[key];
}

const getColor = (name: string) => {
	const key = name.toLowerCase() as keyof typeof colors;
	return colors[key];
}

const getMessageKey = (name: string): keyof typeof m => {
	const key = name.toLowerCase().replace(' ', '_');
	return `link_${key}` as keyof typeof m;
}
---
<section class:list={['flex flex-row justify-between', classes]}>
	{profiles.map((profile) => (
		<a href={profile.url}
		   target="_blank"
		   rel="noopener noreferrer"
		   title={m(getMessageKey(profile.name))}
		   aria-label={m(getMessageKey(profile.name))}
		   class="group block p-0.5rem grow-0 shrink-0 aspect-square rounded-full text-1.75rem text-gray-500 dark:(text-gray-300) hover:(text-[--color] bg-white dark:(text-[--color]))"
		   style={{ '--color': getColor(profile.name) }}>
			<Icon name={getIcon(profile.name)} />
		</a>
	))}
</section>
