---
import { type Project } from '../../types';
import { formatDate } from '../../utilities/date';
import Icon from '../common/icon.astro';

interface Props {
	projects: Project[];
}

const { projects } = Astro.props as Props;
---
<section id="projects" class="flex flex-col gap-2.5rem">
	<h2 class="flex flex-row items-center gap-1em font-serif font-500 text-2.25rem">
		<span class="min-w-fit">Personal Projects</span>
		<span class="w-full h-3px bg-current grow-1 rounded-full"></span>
	</h2>

	<div class="flex flex-col gap-2.5rem">
		{projects.map((project) => (
			<div class="flex flex-col gap-0.5rem items-start">
				<h3 class="group flex flex-row items-center gap-0.5rem text-1.5rem font-500">
					<a href={project.url} target="_blank" rel="noopener noreferrer">
						<span class="group-hover:(underline)">{project.name}</span>
						<Icon name="i-ri-arrow-right-up-long-line" class="align-middle pos-relative bottom-0.05em inline-block opacity-25 group-hover:(opacity-100)" />
					</a>
				</h3>

				<p class="text-1.25rem text-gray-600 dark:(text-gray-300) mb-0.5rem">
					{project.description}
				</p>

				<div class="flex flex-col gap-0.5rem">
					<div class="flex flex-row items-center gap-1rem text-gray-600 dark:(text-gray-300)">
						<Icon name="i-ri-tools-line" />

						<ul class="flex flex-row flex-wrap gap-0.5rem">
							{project.technologies && project.technologies.map((technology) => (
								<li class="px-0.75em py-0.125em bg-gray-200 dark:(bg-gray-800 text-gray-300) rounded-0.25em">
									{technology}
								</li>
							))}
						</ul>
					</div>

					<p class="flex flex-row items-center gap-1rem text-gray-600 dark:(text-gray-300)">
						<Icon name="i-ri-calendar-schedule-line" />
						<span>{formatDate(project.start)}{project.end ? ` — ${formatDate(project.end)}` : ' — Present'}</span>
					</p>
				</div>
			</div>
		))}
	</div>
</section>
