---
import { type Project } from '../../types';
import { useMessages, useDate } from '../../utilities/localization';
import Icon from '../common/icon.astro';
import Section from '../common/section.astro';

interface Properties {
	projects: Project[];
	class?: string;
}

const { projects, class: classes } = Astro.props as Properties;
const locale = Astro.currentLocale;

const m = useMessages(locale);
const d = useDate(locale);
---
<Section id="projects" title={m('section_projects')} class={classes}>
	<div class="flex flex-col gap-2.5rem print:(grid grid-cols-2 gap-2.5rem)">
		{projects.map((project) => (
			<div class="flex flex-col gap-0.5rem items-start print:(break-inside-avoid gap-0.25rem)">
				<h3 class="group flex flex-row items-center gap-0.5rem text-1.5rem font-500">
					<a href={project.url} target="_blank" rel="noopener noreferrer">
						<span class="group-hover:(underline)">{project.name}</span>
						<Icon name="i-ri-arrow-right-up-long-line" class="align-middle pos-relative bottom-0.05em inline-block opacity-25 group-hover:(opacity-100) print:(hidden)" />
					</a>
				</h3>

				{ project.description && (
					<p class="text-1.1rem text-gray-600 dark:(text-gray-300) mb-0.5rem">
						{project.description}
					</p>
				)}

				<div class="flex flex-col gap-0.5rem">
					<div class="flex flex-row items-center gap-1rem text-gray-600 dark:(text-gray-300)">
						<Icon name="i-ri-tools-line" />

						<ul class="flex flex-row flex-wrap gap-0.5rem">
							{project.technologies && project.technologies.map((technology) => (
								<li class="px-0.75em py-0.125em bg-gray-200 dark:(bg-gray-800 text-gray-300) rounded-0.25em">
									{technology}
								</li>
							))}
						</ul>
					</div>

					<p class="flex flex-row items-center gap-1rem text-gray-600 dark:(text-gray-300)">
						<Icon name="i-ri-calendar-schedule-line" />
						<span>{d(project.start)}{project.end ? ` — ${d(project.end)}` : ` — ${m('present')}`}</span>
					</p>
				</div>
			</div>
		))}
	</div>
</Section>
